<a href="https://colab.research.google.com/github/Azisa06/Python/blob/main/Isabella_Thomazini_231_Est_Repeticao_n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ESTRUTURA DE REPETIÇÃO
##Todos estes algoritmos/programas podem ser implementados com o comando **while** ou **for**. Para estudar, implemente cada exercício com as **duas** estruturas de repetição.

###1. Faça um algoritmo  que mostre 10 vezes a frase “Bem vindo a Fatec!”. Pode implementar com o comando while ou for.

In [ ]:
print('Exemplo do while.............\n\n')
# 1º passo - inicialização
contador = 1
# 2º passo - condição/critério de parada
while contador <= 10:
    print(contador, 'Bem vindo a Fatec!')
    contador = contador + 1 # 3º passo - incremento
print("\n\nFim")

Exemplo do while.............


1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!
10 Bem vindo a Fatec!


Fim

In [ ]:
print('\n\nExemplo do for.............\n')
# 1º passo - inicialização, 2º passo - condição/critério de parada
# e 3º passo - incremento, numa única linha no for
for contador in range(10):
    print(contador,'Bem vindo a Fatec!')

Exemplo do for.............

0 Bem vindo a Fatec!
1 Bem vindo a Fatec!
2 Bem vindo a Fatec!
3 Bem vindo a Fatec!
4 Bem vindo a Fatec!
5 Bem vindo a Fatec!
6 Bem vindo a Fatec!
7 Bem vindo a Fatec!
8 Bem vindo a Fatec!
9 Bem vindo a Fatec!

###2. Faça um algoritmo que mostre o cumprimento ‘Olá ‘ para o nome de alguém (4 pessoas). Exemplo ‘Olá Mariana’. Pode implementar com o comando while ou for.

In [ ]:
pessoas = 0
while pessoas < 4:
    nome = input("Digite o nome: ")
    print("Olá", nome)
    pessoas += 1
print("\n\nFim")

Digite o nome: Isabella
Olá Isabella
Digite o nome: Isabelle
Olá Isabelle
Digite o nome: Juliana
Olá Juliana
Digite o nome: Kamilly
Olá Kamilly


Fim

In [ ]:
for pessoas in range (4):
    nome = input("Digite o nome: ")
    print("Olá", nome)
print("\n\nFim")

Digite o nome: Lua
Olá Lua
Digite o nome: Luana
Olá Luana
Digite o nome: Lenara
Olá Lenara
Digite o nome: Leandra
Olá Leandra


Fim

###3. Faça um algoritmo que mostre os valores de 0 a 15. Pode implementar com o comando while ou for.

In [ ]:
numero = 0
while numero <= 15:
    print(numero)
    numero += 1
print("\n\nFim")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15


Fim

In [ ]:
for numero in range (16):
    print(numero)
print("\n\nFim")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15


Fim

###4. Faça um algoritmo que mostre os valores de 3 a 20. Pode implementar com o comando while ou for.

In [ ]:
for numero in range (3, 21):
    print(numero)
print("\n\nFim")

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20


Fim

In [ ]:
numero = 3
while numero <= 21:
    print(numero)
    numero += 1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

###5. Faça um algoritmo que calcule e mostre a tabuada do 5. Pode implementar com o comando while ou for.

In [ ]:
numero = 1
while numero <= 10:
    resultado = 5 * numero
    print("5 x", numero,"=", resultado)
    numero = numero + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for numero in range (11):
    resultado = 5 * numero
    print("5 x", numero, resultado)

5 x 0 0
5 x 1 5
5 x 2 10
5 x 3 15
5 x 4 20
5 x 5 25
5 x 6 30
5 x 7 35
5 x 8 40
5 x 9 45
5 x 10 50

###6. Faça um algoritmo que receba a idade de 10 pessoas, calcule e exiba a quantidade de pessoas maiores de idade, sendo que a maioridade é obtida após completar 18 anos. Pode implementar com o comando while ou for.

In [ ]:
quantidade = 1
contador = 0
while quantidade <= 10:
    idade = int(input("Digite a idade: "))
    quantidade += 1
    if idade >= 18:
        contador += 1
print(contador, "pessoas são maiores de idade.")

Digite a idade: 20
Digite a idade: 10
Digite a idade: 22
Digite a idade: 11
Digite a idade: 15
Digite a idade: 18
Digite a idade: 30
Digite a idade: 40
Digite a idade: 12
Digite a idade: 18
6 são maiores de idade.

In [ ]:
contador = 0
for quantidade in range (10):
    idade = int(input("Digite a idade: "))
    if idade >= 18:
        contador += 1
print(contador, "pessoas são maiores de idade.")

Digite a idade: 30
Digite a idade: 44
Digite a idade: 20
Digite a idade: 18
Digite a idade: 10
Digite a idade: 15
Digite a idade: 17
Digite a idade: 21
Digite a idade: 22
Digite a idade: 9
Digite a idade: 13
6 pessoas são maiores de idade.

###7. Escreva um algoritmo que receba 23 números, calcule e exiba a quantidade de números pares e impares. Pode implementar com o comando while ou for.

In [ ]:
quantidade = 0
pares = 0
impares = 0
while quantidade <= 22:
    numero = float(input("Digite um número: "))
    quantidade += 1
    if numero % 2 == 0:
        pares += 1
    elif numero % 2 != 0:
        impares += 1
print(pares, "números são pares e", impares, "são ímpares.")

Digite um número: 6
Digite um número: 16
Digite um número: 26
Digite um número: 36
Digite um número: 46
Digite um número: 56
6 números são pares e 0 são ímpares.

In [ ]:
pares = 0
impares = 0
for quantidade in range (23):
    numero = float(input("DIgite um número: "))
    if numero % 2 == 0:
        pares += 1
    elif numero % 2 != 0:
        impares += 1
print(pares, "números são pares e", impares, "são ímpares.")

DIgite um número: 9
DIgite um número: 19
DIgite um número: 29
DIgite um número: 39
DIgite um número: 49
0 números são pares e 5 são ímpares.

###8. Faça um algoritmo que calcule e exiba o salário reajustado de dez funcionários de acordo com a seguinte regra (pode implementar com o comando while ou for):
## Salário até 300, reajuste de 50%;

##Salários maiores que 300, reajuste de 30%.

In [ ]:
funcionarios = 1
while funcionarios <= 10:
    salario = float(input("Digite seu salário: "))
    funcionarios += 1
    if salario <= 300:
        reajuste1 = salario * 1.5
        print(f"O novo salário será R${reajuste1:.2f}")
    elif salario > 300:
        reajuste2 = salario * 1.3
        print(f"O novo salário será R${reajuste2:.2f}")

Digite seu salário: 300
O novo salário será R$450.00
Digite seu salário: 400
O novo salário será R$520.00
Digite seu salário: 100
O novo salário será R$150.00

In [ ]:
for funcionarios in range (10):
    salario = float(input("Digite seu salário: "))
    if salario <= 300:
        reajuste1 = salario * 1.5
        print(f"O novo salário será R${reajuste1:.2f}")
    elif salario > 300:
        reajuste2 = salario * 1.3
        print(f"O novo salário será R${reajuste2:.2f}")

Digite seu salário: 1000
O novo salário será R$1300.00
Digite seu salário: 200
O novo salário será R$300.00
Digite seu salário: 100
O novo salário será R$150.00
Digite seu salário: 250
O novo salário será R$375.00


###9. Faça um algoritmo que conheça 4 preços de produtos, some-os e mostre o resultado. Pode implementar com o comando while ou for.

In [ ]:
produtos = 1
soma = 0
while produtos <= 4:
    preco = float(input("Digite o preço do produto: "))
    soma += preco
    produtos += 1
print(f"O preço desses 4 produtos é R${soma:.2f}")

Digite o preço do produto: 20
Digite o preço do produto: 21
Digite o preço do produto: 8
Digite o preço do produto: 3
O preço desses 4 produtos é R$52.00

In [ ]:
soma = 0
for produtos in range (4):
    preco = float(input("Digite o preço do produto: "))
    soma += preco
print(f"O preço desses 4 produtos é R${soma:.2f}")

Digite o preço do produto: 3.5
Digite o preço do produto: 8.5
Digite o preço do produto: 2
Digite o preço do produto: 20
O preço desses 4 produtos é R$34.00

###10. Faça um algoritmo que calcule e informe a média de idades de 5 alunos. Pode implementar com o comando while ou for.

In [ ]:
alunos = 1
soma_idade = 0
while alunos <= 5:
    idade = int(input("Digite sua idade: "))
    alunos += 1
    soma_idade += idade
media = soma_idade / 5
print("A média das idades é", media)

Digite sua idade: 21
Digite sua idade: 26
Digite sua idade: 22
Digite sua idade: 30
Digite sua idade: 18
A média das idades é 23.4

In [ ]:
soma_idade = 0
for alunos in range (5):
    idade = int(input("Digite sua idade: "))
    soma_idade += idade
media = soma_idade / 5
print("A média das idades é", media)

Digite sua idade: 22
Digite sua idade: 3
Digite sua idade: 5
Digite sua idade: 44
Digite sua idade: 20
A média das idades é 18.8

###11. Faça um algoritmo que conheça 4 preços de produtos, calcule e mostre a média aritmética dos preços. Pode implementar com o comando while ou for.

In [ ]:
produtos = 1
soma_precos = 0
while produtos <= 4:
    preco = float(input("Digite o preço do produto: "))
    produtos += 1
    soma_precos += preco
media = soma_precos / 4
print("A média dos preços é R$", media)

Digite o preço do produto: 3
Digite o preço do produto: 4.5
Digite o preço do produto: 7.5
Digite o preço do produto: 10
A média dos preços é R$ 6.25

In [ ]:
soma_precos = 0
for produtos in range (4):
    preco = float(input("Digite o preço do produto: "))
    soma_precos += preco
media = soma_precos / 4
print("A média dos preços é R$", media)

Digite o preço do produto: 4
Digite o preço do produto: 20
Digite o preço do produto: 100
Digite o preço do produto: 3
A média dos preços é R$ 31.75

###12. Faça um programa que receba a idade e a altura de 20 pessoas. Calcule e exiba a média das alturas das pessoas com mais de 20 anos.

In [ ]:
soma = 0
maiores = 0
pessoas = 1
while pessoas <= 20:
    altura = float(input("Digite sua altura: "))
    idade = int(input("Digite a sua idade: "))
    pessoas += 1
    if idade >= 20:
        maiores += 1
        soma += altura
        media = soma / maiores
print(f"A média da altura das pessoas maiores de 20 anos é {media:.2f}")

Digite sua altura: 1.80
Digite a sua idade: 30
Digite sua altura: 1.90
Digite a sua idade: 18
Digite sua altura: 1.70
Digite a sua idade: 21
Digite sua altura: 1.60
Digite a sua idade: 15
A média da altura das pessoas maiores de 20 anos é 1.75

In [ ]:
soma = 0
maiores = 0
for pessoas in range (20):
    idade = int(input("Digite sua idade: "))
    altura = float(input("Digite sua altura: "))
    if idade >= 20:
        maiores += 1
        soma += altura
        media = soma / maiores
print(f"A média da altura dos maiores de 20 anos é {media:.2f}")

Digite sua idade: 21
Digite sua altura: 1.73
Digite sua idade: 30
Digite sua altura: 1.60
Digite sua idade: 15
Digite sua altura: 1.50
A média da altura dos maiores de 20 anos é 1.67

###13. Faça um algoritmo que leia o preço de 20 TV, determine e apresente a média dos preços que possuem valor maior que R$ 1000. Pode implementar com o comando while ou for.

In [ ]:
tv = 1
soma = 0
maiores = 0
while tv <= 20:
    preco = float(input("Digite o preço da TV: "))
    tv += 1
    if preco >= 1000:
        maiores += 1
        soma += preco
        media = soma / maiores
print(f"A média das TVs com valor maior que R$ 1000 reais é R$", media)

Digite o preço da TV: 1000
Digite o preço da TV: 2000
Digite o preço da TV: 5000
Digite o preço da TV: 999
Digite o preço da TV: 10000
A média das TVs com valor maior que R$ 1000 reais é  4500.0

###14. Faça um programa que receba a altura e nome  de 5 pessoas. Encontre e apresente a altura da pessoa mais alta e da mais baixa e seus respectivos nomes.

In [ ]:
pessoas = 1
while pessoas <= 5:
    altura = float(input("Digite sua altura: "))
    nome = input("Digite seu nome: ")
    if pessoas == 0:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
    pessoas += 1
print(f"Alto = {alto:.2f}", "metros, nome=", nome_alto)
print(f"Baixo = {baixo:.2f}", "metros, nome=", nome_baixo)

Digite sua altura: 1.90
Digite seu nome: Isabelle
Digite sua altura: 1.75
Digite seu nome: Kamilly
Digite sua altura: 1.70
Digite seu nome: Juliana
Digite sua altura: 1.60
Digite seu nome: Isabella
Alto = 1.9 metros, nome= Isabelle
Baixo = 1.6 metros, nome= Isabella

In [ ]:
for pessoas in range (5):
    altura = float(input("Digite sua altura: "))
    nome = input("Digite seu nome: ")
    if pessoas == 0:
        alto = altura
        nome_alto = nome
        baixo = altura
        nome_baixo = nome
    if altura > alto:
        alto = altura
        nome_alto = nome
    if altura < baixo:
        baixo = altura
        nome_baixo = nome
print(f"Alto = {alto:.2f}", "metros, nome=", nome_alto)
print(f"Baixo = {baixo:.2f}", "metros, nome=", nome_baixo)

Digite sua altura: 1.90
Digite seu nome: Isabella
Digite sua altura: 1.60
Digite seu nome: Juliana
Digite sua altura: 1.80
Digite seu nome: Isabelle
Digite sua altura: 1.70
Digite seu nome: Kamilly
Alto = 1.90 metros, nome= Isabella
Baixo = 1.60 metros, nome= Juliana

###15. Faça um programa que receba dez valores inteiros, encontre e apresente o maior e o menor valor.

In [ ]:
valores = 1
while valores <= 10:
    numero = int(input("Digite um valor inteiro: "))
    if valores == 1:
        maior = numero
        menor = numero
    if numero > maior:
        maior = numero
    if numero < menor:
        menor = numero
    valores += 1
print("O maior valor é:", maior, "e o menor valor é:", menor)

Digite um valor inteiro: 10
Digite um valor inteiro: 20
Digite um valor inteiro: 30
Digite um valor inteiro: 40
O maior valor é: 40 e o menor valor é: 10

In [ ]:
for valores in range (10):
    numero = int(input("Digite um valor inteiro: "))
    if valores == 0:
        maior = numero
        menor = numero
    if numero > maior:
        maior = numero
    if numero < menor:
        menor = numero
print("O maior valor é:", maior, "e o menor valor é:", menor)

Digite um valor inteiro: 10
Digite um valor inteiro: 4
Digite um valor inteiro: 55
Digite um valor inteiro: 67
O maior valor é: 67 e o menor valor é: 4

###16. Os alunos do primeiro módulo farão a P1 da disciplina de Algoritmo. Crie um algoritmo que leia as 40 notas e RAs, encontre e apresente a maior, a menor e os respectivos RAs desses alunos.

In [ ]:
p1s = 1
while p1s <= 40:
    nota = float(input("Digite a nota: "))
    ra = int(input("Digite o RA: "))
    if p1s == 1:
        maior = nota
        ra_maior = ra
        menor = nota
        ra_menor = ra
    if nota > maior:
        maior = nota
        ra_maior = ra
    if nota < menor:
        menor = nota
        ra_menor = ra
    p1s += 1
print("A maior nota é:", maior)
print("Ra do aluno com maior nota:", ra_maior)
print("A menor nota é:", menor)
print("Ra do aluno com menor nota:", ra_menor)

Digite a nota: 10
Digite o RA: 23950687
Digite a nota: 8
Digite o RA: 239406826
Digite a nota: 7
Digite o RA: 490483782759
Digite a nota: 4
Digite o RA: 957364859
A maior nota é: 10.0
Ra do aluno com maior nota: 23950687
A menor nota é: 4.0
Ra do aluno com menor nota, 957364859

In [ ]:
for p1s in range (40):
    nota = float(input("Digite a nota: "))
    ra = int(input("Digite o RA: "))
    if p1s == 1:
        maior = nota
        ra_maior = ra
        menor = nota
        ra_menor = ra
    if nota > maior:
        maior = nota
        ra_maior = ra
    if nota < menor:
        menor = nota
        ra_menor = ra
print("A maior nota é:", maior)
print("Ra do aluno com maior nota:", ra_maior)
print("A menor nota é:", menor)
print("Ra do aluno com menor nota:", ra_menor)

Digite a nota: 9
Digite o RA: 751254363
Digite a nota: 8
Digite o RA: 475543585
Digite a nota: 4
Digite o RA: 545432515876
Digite a nota: 9.5
Digite o RA: 89213654987
A maior nota é: 9.5
Ra do aluno com maior nota: 89213654987
A menor nota é: 4.0
Ra do aluno com menor nota: 545432515876

###17. Faça um programa que calcule e apresente as tabuadas do 3 ao 7. Este exercício utiliza DUAS estruturas de repetição.

In [ ]:
for tabuada in range (3, 8):
    for contador in range (1, 11):
        print(tabuada, "x", contador, "=", tabuada * contador)
    print()

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

###18. Faça um programa para o curso de ADS (6 módulos), cada sala tem 30 alunos, calcule e apresente os seguintes itens:
*  Quantidade de homens e mulheres de cada módulo;
*  Média de idades de cada módulo;
*  Quantidade de homens e mulheres do curso todo;
*  Média de idades do curso todo.

Observação: este exercício utiliza DUAS estruturas de repetição.

In [ ]:
for modulo in range(1,7):
    print(modulo,'º módulo','.'*50)
    # contar genero feminino = 0
    for alunos in range(1,3):
        # digitar os dados dos alunos
        genero = input('Cadastre o gênero M/F: ')
        if genero == 'F' or genero == 'f':
            # contar genero feminino
        #...
    # mostrar resultados de cada módulo
    # acumular valores para o curso
# mostrar resultados do curso

1 º módulo ..................................................



2 º módulo ..................................................



3 º módulo ..................................................



4 º módulo ..................................................



5 º módulo ..................................................



6 º módulo ..................................................

In [ ]:
mulheres_curso = 0
homens_curso = 0
idade_curso = 0
for modulo in range (1, 7):
    print(modulo,'º módulo','.'*50)
    mulheres_modulo = 0
    homens_modulo = 0
    idade_modulo = 0
    for alunos in range (2):
        genero = input("Digite o gênero: ")
        idade = int(input("Digite a idade: "))
        if genero == "F" or genero == "f":
            mulheres_modulo += 1
            mulheres_curso += 1
            idade_modulo += idade
            idade_curso += idade
        else:
            homens_modulo += 1
            homens_curso += 1
            idade_modulo += idade
            idade_curso += idade
        media = (idade_modulo / (mulheres_modulo + homens_modulo))
    print("A quantidade de homens no módulo", modulo, "é:", homens_modulo)
    print("A quantidade de mulheres no módulo", modulo, "é:", mulheres_modulo)
    print("A média de idades no módulo", modulo, "é:", media)
media_idade_curso = (idade_curso / (homens_curso + mulheres_curso))
print("A quantidade de homens no curso é:", homens_curso)
print("A quantidade de mulheres no curso é:", mulheres_curso)
print("A média das idades no curso é:", media_idade_curso)

1 º módulo ..................................................
Digite o gênero: m
Digite a idade: 22
Digite o gênero: f
Digite a idade: 18
A quantidade de homens no módulo 1 é: 1
A quantidade de mulheres no módulo 1 é: 1
A média de idades no módulo 1 é: 20.0
2 º módulo ..................................................
Digite o gênero: f
Digite a idade: 23
Digite o gênero: f
Digite a idade: 25
A quantidade de homens no módulo 2 é: 0
A quantidade de mulheres no módulo 2 é: 2
A média de idades no módulo 2 é: 24.0
3 º módulo ..................................................
Digite o gênero: m
Digite a idade: 30
Digite o gênero: m
Digite a idade: 25
A quantidade de homens no módulo 3 é: 2
A quantidade de mulheres no módulo 3 é: 0
A média de idades no módulo 3 é: 27.5
4 º módulo ..................................................
Digite o gênero: m
Digite a idade: 26
Digite o gênero: m
Digite a idade: 28
A quantidade de homens no módulo 4 é: 2
A quantidade de mulheres no módulo 4 é: 0
A média de idades no módulo 4 é: 27.0
5 º módulo ..................................................
Digite o gênero: m
Digite a idade: 27
Digite o gênero: f
Digite a idade: 20
A quantidade de homens no módulo 5 é: 1
A quantidade de mulheres no módulo 5 é: 1
A média de idades no módulo 5 é: 23.5
6 º módulo ..................................................
Digite o gênero: m
Digite a idade: 30
Digite o gênero: m
Digite a idade: 32
A quantidade de homens no módulo 6 é: 2
A quantidade de mulheres no módulo 6 é: 0
A média de idades no módulo 6 é: 31.0
A quantidade de homens no curso é: 8
A quantidade de mulheres no curso é: 4
A média das idades no curso é: 25.5